<div class="holder">

    <div class="Top-section">
        <app-top-bar></app-top-bar>

        <div class="top-det">
            <p class="top-te">What can we help you find?</p>
                    <!-- <img src="https://media.istockphoto.com/id/1179274063/photo/women-hand-using-smartphone-do-online-selling-for-people-shopping-online-in-black-friday-with.webp?b=1&s=170667a&w=0&k=20&c=qu-5bLMcyGRls8xba1aSdTq4X4QtUzpbfF8eHUiWuPM="/> -->
            <div class="stock-details">
                <mat-icon>search</mat-icon>
                <input #searchBox type="search" placeholder="Search.." (input)="search(searchBox.value)">
                <!-- *ngFor="let students of foundUsers$ | async" -->
            </div>
        </div>


    </div>


    <div class="second-section">
            <div class="Categories">

                <div class="category-item" routerLink="/products/electronics">

                    <img class="cate-image" src="https://cdn.shopify.com/s/files/1/0620/0389/products/Untitled-17-02-02-02_6a1fe4b9-6680-4a13-9b01-ad35077d83fc_1024x1024.png?v=1630321183">

                    <div class="cate-text">
                        <label>Sneaker Cleaning</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <label class="price">Make sure your kicks stay kleen!</label>
                    </div>

                </div>

                <div class="category-item" routerLink="/products/furniture">

                    <img class="cate-image" src="https://images.unsplash.com/photo-1567016432779-094069958ea5?q=80&w=1760&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

                    <div class="cate-text">
                        <label>Couches and Carpets</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <label class="price">Refresh your space</label>
                    </div>

                </div>

                <div class="category-item" routerLink="/products/beauty_and_health">

                    <img class="cate-image" src="https://www.pistonudos.com/images/posts/85af3b76c8d0373dd292aea3dfb28248-0.jpg">

                    <div class="cate-text">
                        <label>Car Seats</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <label class="price">Clean seats, happy rides</label>
                    </div>

                </div>

                <div class="category-item" routerLink="/products/clothing">

                    <img class="cate-image" src="https://plus.unsplash.com/premium_photo-1661501041641-3e731115e687?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

                    <div class="cate-text">
                        <label>Car Wash</label>
                        <!-- <label>{{product.rating.rate}}</label> -->
                        <label class="price">Because your car deserves a spa day</label>
                    </div>

                </div>
            </div>
           <div class="tra">

    </div> 
    </div>

    

    <!-- <div *ngIf="!products.length" class="holder1">

        <img src="https://i.postimg.cc/t4jvtHq4/Package-box-brown-removebg-preview.png">

        <label>You don't have any product yet</label> -->

<!-- </div> -->
</div>

<div class="bottom-nav">

    <div class="nav-options" >
  
        <div class="nav-item">
            <button routerLink="/home"><mat-icon>store</mat-icon></button>
            <label>Categories</label>
        </div>
  
        <div class="nav-item">
            <button routerLink="/track-order"><mat-icon>assignment</mat-icon></button>
            <label>Orders</label>
           
        </div>
  
        <!-- <div class="nav-item">
            <button routerLink="/home"><mat-icon>category</mat-icon></button>
            
        </div> -->
  
        <!-- <div class="nav-item">
            <button><mat-icon>launch</mat-icon></button>
            
        </div> -->
  
        <div class="nav-item">
            <button routerLink="/consumer-profile"><mat-icon>account_circle</mat-icon></button>
            <label>Profile</label>
            
        </div>
  
        <div class="nav-item">
          <button routerLink="/makasana"><mat-icon>logout</mat-icon></button>
          <label>Logout</label>
  
      </div>
  
    </div>
        
  </div>





